allow init proc_last_kmsg:file { setattr r_file_perms };
allow init proc_bluetooth_writable:file { setattr };
allow init proc_cpu_alignment:file { w_file_perms };
