allow init proc_last_kmsg:file { setattr r_file_perms };
allow init proc_bluetooth_writable:file { setattr };
allow init proc_cpu_alignment:file { w_file_perms };
allow init sysfs_leds:lnk_file { read };
allow init vendor_file:file { execute_no_trans };
allow init hwservicemanager:binder { call transfer };
allow init hal_usb_hwservice:hwservice_manager { add };
allow init hidl_base_hwservice:hwservice_manager { add };
allow init system_file:file { mounton execute_no_trans };

binder_call(init, system_server)

